<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title><%= title %></title>
<link rel="stylesheet" type="text/css"href="css/bootstrap.css">
<link rel="stylesheet" type="text/css"href="css/style.css">
<link rel="stylesheet" type="text/css"href="css/loader.css">
<link rel="stylesheet" type="text/css"href="css/pagination.css">
<link rel="stylesheet" type="text/css"href="css/side_content.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.navigation.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.dashboard.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.post_request.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.view_user.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.view_user.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.edit_view_post.css">
<link rel="stylesheet" type="text/css"href="css/ebulletin.popup.css">
<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


<script src="js/jq/taffy.js" ></script>
<script src="js/jq/jquery.js" ></script>
<script src="js/jq/jquery.uriAnchor.js"></script>
<script src="js/jq/jquery.event.gevent.js"></script>
<script src="js/jq/jquery.event.ue.js" ></script>
<script src="js/jq/jquery.easing/jquery.easing.1.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="js/jq/handlebars-v4.0.5.js"></script>
<script src="templates/templates.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>

<script src="js/module/e-bulletin.js" ></script>
<script src="js/module/e-bulletin.util.js" ></script>
<script src="js/module/e-bulletin.model.js"></script>
<script src="js/module/e-bulletin.shell.js" ></script>
<script src="js/module/e-bulletin.nav.js" ></script>
<script src="js/module/e-bulletin.home.js" ></script>
<script src="js/module/e-bulletin.contact.js" ></script>
<script src="js/module/e-bulletin.main_post.js" ></script>
<script src="js/module/e-bulletin.pdf_post.js" ></script>
<script src="js/module/e-bulletin.user_menu.js" ></script>
<script src="js/module/e-bulletin.about.js" ></script>
<script src="js/module/e-bulletin.post_request.js" ></script>
<script src="js/module/e-bulletin.pdf_post_request.js" ></script>
<script src="js/module/e-bulletin.view_post.js" ></script>
<script src="js/module/e-bulletin.view_pdf_post.js" ></script>
<script src="js/module/e-bulletin.users.js" ></script>
<script src="js/module/e-bulletin.view_user.js" ></script>
<script src="js/module/e-bulletin.edit_view_post.js" ></script>
<script>
$(function () { ebulletin.initModule( $('#e-bulletin-main-container') ); });
</script>

</head>
<body>
	<div id="e-bulletin-main-container" class="container">
</div>




</body>
</html>