<div id = "e-bulletin-main-content" class="row">
		
			<div class="col-md-12 ebulletin-navigtion">
				
			</div>
		
	
			<div class="col-md-9 ebulletin-content">
				
			</div>
			<div class="col-md-3 ebulletin-content-side-content">
				
			</div>


		<div class="footer">
			<p>@All Rights Reserved<br>E Bulletin 2021</p>
		</div>
	</div>