		<div class="ebulletin-navigatioin-dropdown dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Welcome {{name}}
                    <span class="caret"></span></button>
                    <ul class="ebulletin-nav-right-list-li dropdown-menu">
		  {{#list dropdown}}{{option}} {{nCaption}}{{/list}}

		  </ul>
					        </div>