     
     
        <div style="display: none;" class="pop-up-container">

            <div class="row pop-inner">
                <div class="col-md-12">
                    <button class="close">X</button>
                    <h2 id="ebulletin_popup_message" class="modal__text"></h2>
                  <button class="confirm modal__btn ">Yes</button>
                  <button class="cancel modal__btn ">no</button>
                </div>
            </div>
            
        </div>