<table class="side_content_table" width="100%">
					<tr>
						<th>Title</th>
						<th>File</th>
					</tr>

					  {{#each pdf_post_data}}
							<tr class="ebulletin_side_content_table_row">
								<td class = "ebulletin_side_content_content_title">
									{{pdf_title}}
							
								</td>
								<td class = "ebulletin_side_content_filename">{{Files}}</td>
							</tr>
					 {{/each}}


				</table>