


<div class="container">
  <div class="row">
      <div class="col-md-5">
        <div id="main_post" class="main_post_menu">
          <h2>Main Post</h2>
        </div>
      </div>
       <div class="col-md-5">
         <div id="pdf_post" class="main_post_menu">
            <h2>PDF Post</h2>
          </div>
       </div>
    
  </div>
</div>