<tr>
<td>{{title}}</td>
														<td><span class="pending">Pending</span></td>
														<td>{{date_submited}}</td>
														<td><i class="fa fa-pencil-square-o ebulletin-dashboard-edit" data-id="{{data_id}}"></i>&nbsp;<i class="fa fa-trash ebulletin-dashboard-delete" data-id="{{data_id}}"></i></td>
												</tr>